<!DOCTYPE html>
<html lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>The Lithe Project - DecentraChat</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../resources/css/base.css">
    <link rel="stylesheet" href="../../resources/css/vendor.css">
    <link rel="stylesheet" href="../../resources/css/main.css">
    <link rel="stylesheet" href="../../resources/css/chatTable.css">

    <!-- script
    ================================================== -->
    <script src="../../resources/js/modernizr.js"></script>
    <script src="../../resources/js/pace.min.js"></script>
    <script src="../../resources/js/chatJS.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../resources/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../resources/images/favicon.ico" type="image/x-icon">

</head>


<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">
            
        <div class="header-logo">
            <a cblass="site-logo" href="index.html"><img src="../../resources/images/logo.png" style="width:60px;height:60px" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a href="index.html#home" title="home">HomePage</a></li>
                <li><a href="https://github.com/lithyriolu/" title="about">GitHub</a></li>
                <li class="current"><a href="index.html#works" title="works">DecentraChat</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <article class="blog-single">

        <!-- page header/blog hero
        ================================================== -->
        <div class="page-header page-header--single page-hero" style="background-image:url(../../resources/images/background.png)">
        
            <div class="row page-header__content narrow">
                <article class="col-full">
                    <div class="page-header__info">
                        <div class="page-header__cat">
                            <a href="#0">The Lithe Project Presents</a>
                        </div>
                    </div>
                    <h1 class="page-header__title">
                        <a href="#0" title="">
                            DecentraChat
                        </a>
                    </h1>

                    <table>
                        <thead class="page-header__cat">
                        <tr>
                            <th><a href="#0">Online Peers</a></th>
                        </tr>
                        </thead>
                    </table>
                    <div align="center">
                    <select align="center" multiple>
                        {{range $key, $value := .PeersDS.PeerMap }}
                            <option value="{{ $key }}">{{ $key }}</option>
                        {{end}}
                    </select>
                    </div>
                </article>
            </div>
    
        </div> <!-- end page-header -->
    <form action="/chat" enctype="multipart/form-data" method="post">
        <div class="row blog-content narrow">
            <div class="col-full blog-content__main table-responsive">
                
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th><b>Message</b></th>
                            <th><b>File</b></th>
                            <th><b>From</b></th>
                            <th><b>To</b></th>
                            <!--<div class="col alert alert-primary" role="alert">Timestamp</div>-->
                        </tr>
                        </thead>
                        <tbody>
                        {{range .ChatsShow.ChatsShowList}}
                            <tr>
                                <td class="full-width">{{.Message}}</td>
                                <td>{{.LoadedFileName}}</td>
                                <td>{{.From}}</td>
                                <td>{{.To}}</td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div> <!-- show-chat -->
            
            
                <div class="col-full blog-content__main table-responsive"> <!-- input -->
                    <div>

                        <div>
                            <div class="form-field">
                                <textarea name="message" type="text" class="form-control full-width" placeholder="having a good day ?"></textarea>
                            </div>
                        </div>

                        <div>
                            <div class="file-bar">
                                <input type="file" class="form-control-file" name="uploadfile" />
                            </div>
                        </div>
                        
                        <div>
                            <div class="submit-bar">
                                <!--<input type="submit" value="submit" />-->
                                <button type="submit" value="submit" class="btn btn--primary float-right">Submit</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- input -->
            
            </div><!-- end blog-content__main -->
        </form>
    </article>

    <!-- footer
    ================================================== -->
    <footer>
            <div class="row">
                <div class="col-full">
    
                    <div class="footer-logo">
                        <a class="footer-site-logo" href="#0"><img src="../../resources/images/logo.png" alt="Homepage"></a>
                    </div>
    
                <ul class="footer-social">
                    <li><a href="https://www.reddit.com/r/lithe">
                        <i class="im im-reddit" aria-hidden="true"></i>
                        <span>Reddit</span>
                    </a></li>
                    <li><a href="https://twitter.com/thelitheproject">
                        <i class="im im-twitter" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a></li>
                    <li><a href="https://instagram.com/lithyriolu">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                    <li><a href="https://github.com/lithe-project">
                        <i class="im im-github" aria-hidden="true"></i>
                        <span>GitHub</span>
                    </a></li>
                    <li><a href="https://discord.gg/XH42C4b">
                        <i class="fab fa-discord" aria-hidden="true"></i>
                        <span>Discord</span>
                    </a></li>
                    <li><a>
                        <i class="im im-mail" aria-hidden="true"></i>
                        <span>thelitheproject@gmail.com</span>
                    </a></li>
                </ul>
                        
                </div>
            </div>
    
            <div class="row footer-bottom">
    
                <div class="col-twelve">
                    <div class="copyright">
                        <span>© Copyright The Lithe Project 2019</span> 
                        <span>Created by <a href="https://github.com/lithe-project/">The Lithe Projects Development Team</a></span>	
                    </div>
    
                    <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                    </div>
                </div>
    
            </div> <!-- end footer-bottom -->
    
        </footer> <!-- end footer -->
    
    
        <div id="preloader"> 
            <div id="loader"></div>
        </div>
    
    
        <!-- Java Script
        ================================================== -->
        <script src="../../resources/js/jquery-3.2.1.min.js"></script>
        <script src="../../resources/js/plugins.js"></script>
        <script src="../../resources/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
